<div class="footer">
    <div class="header-section">
        <div class="logo-footer">
            <img src="../../2.png" alt="Logo">
        </div>
        <div class="frase">
            <strong>{{ frase }}</strong>
        </div>
    </div>
    <div class="relleno_footer">
        <div class="redes_sociales">
            <ul>
                <li><strong>Redes Sociales</strong></li>
            </ul>
            <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                <img src="../../5.png" alt="Facebook">
            </a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                <img src="../../4.png" alt="Instagram">
            </a>
            <a href="https://youtube.com" target="_blank" aria-label="YouTube">
                <img src="../../3.png" alt="YouTube">
            </a>
        </div>
        <div class="social-media">
        </div>
        <div class="contactos">
            <ul>
                <li><strong>Contáctos</strong></li>
                <li>www.ecoespe.com</li>
                <li>+33 877 554 332</li>
            </ul>
        </div>
        <div class="servicios">
            <ul>
                <li><strong>Servicios</strong></li>
                <li>Capacitación</li>
                <li>Creación de abono especializado</li>
                <li>Asesoramiento</li>
            </ul>
        </div>
    </div>
    <div class="derechos-reservados">
        <p>2024 ECO ESPE. Todos los derechos reservados.</p>
    </div>
</div>