.plant-card {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
}

.plant-card img {
    width: 100%;
    height: auto;
}

.plant-card h3 {
    margin: 8px 0;
}

.plant-card p {
    margin: 8px 0;
}

.plant-card button {
    margin: 4px;
}

.btnDetails{
    background-color: #6EA343;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
}

.btnDetails:hover {
    color: white;
    background-color: #549420;
}

.btnAddToCart{
    background-color: #ffc800;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 24px;
}

.btnAddToCart:hover {
    color: white;
    background-color: #d9aa00;
}