<!-- src/app/app.component.html -->
<app-header></app-header>
<app-carrousel [images]="['banner3-index.jpg', 'muestra7.jpg', 'PortadaNosotros.jpg']"></app-carrousel>

<div class="container my-5">
  <div class="row">
    <div class="col-12" id="plant-card-section">
      <app-plant-list></app-plant-list>
    </div>
  </div>
</div>

<app-footer 
  title="ECO ESPE" 
  frase='"Crece con firmeza, arraízate en la tierra y extiende tus hojas hacia el sol. En cada nuevo brote, encuentra la fuerza para florecer."'>
</app-footer>
